In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Automobilecodedata.csv")

In [3]:
dataset

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,name,origin
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,chevrolet chevelle malibu,usa
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,buick skylark 320,usa
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,plymouth satellite,usa
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,amc rebel sst,usa
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,ford torino,usa
...,...,...,...,...,...,...,...,...,...
393,27.0,4.0,140.0,86.0,2790.0,15.6,82.0,ford mustang gl,usa
394,44.0,4.0,97.0,52.0,2130.0,24.6,82.0,vw pickup,europe
395,32.0,4.0,135.0,84.0,2295.0,11.6,82.0,dodge rampage,usa
396,28.0,4.0,120.0,79.0,2625.0,18.6,82.0,ford ranger,usa
397,31.0,4.0,119.0,82.0,2720.0,19.4,82.0,chevy s-10,usa

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,name_amc ambassador dpl,name_amc ambassador sst,name_amc concord,...,name_volvo 245,name_volvo 264gl,name_volvo diesel,name_vw dasher (diesel),name_vw pickup,name_vw rabbit,name_vw rabbit c (diesel),name_vw rabbit custom,origin_japan,origin_usa
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4.0,140.0,86.0,2790.0,15.6,82.0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
394,44.0,4.0,97.0,52.0,2130.0,24.6,82.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
395,32.0,4.0,135.0,84.0,2295.0,11.6,82.0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
396,28.0,4.0,120.0,79.0,2625.0,18.6,82.0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
397,31.0,4.0,119.0,82.0,2720.0,19.4,82.0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [6]:
dataset.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'name_amc ambassador dpl',
       'name_amc ambassador sst', 'name_amc concord',
       ...
       'name_volvo 245', 'name_volvo 264gl', 'name_volvo diesel',
       'name_vw dasher (diesel)', 'name_vw pickup', 'name_vw rabbit',
       'name_vw rabbit c (diesel)', 'name_vw rabbit custom', 'origin_japan',
       'origin_usa'],
      dtype='object', length=313)

In [7]:
independent=dataset[['mpg', 'cylinders', 'displacement', 'horsepower', 'acceleration']]

In [8]:
independent

      mpg  cylinders  displacement  horsepower  acceleration
0    18.0        8.0         307.0       130.0          12.0
1    15.0        8.0         350.0       165.0          11.5
2    18.0        8.0         318.0       150.0          11.0
3    16.0        8.0         304.0       150.0          12.0
4    17.0        8.0         302.0       140.0          10.5
..    ...        ...           ...         ...           ...
393  27.0        4.0         140.0        86.0          15.6
394  44.0        4.0          97.0        52.0          24.6
395  32.0        4.0         135.0        84.0          11.6
396  28.0        4.0         120.0        79.0          18.6
397  31.0        4.0         119.0        82.0          19.4

[398 rows x 5 columns]

In [9]:
dependent=dataset[['mpg']]

In [10]:
dependent

      mpg
0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
..    ...
393  27.0
394  44.0
395  32.0
396  28.0
397  31.0

[398 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split( independent, dependent, test_size=0.30,random_state=0)

In [12]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train) #

LinearRegression()

In [13]:
weight=regressor.coef_
weight

array([[ 1.00000000e+00, -5.38776680e-17,  2.89462383e-17,
        -1.35568283e-16,  1.32210630e-17]])

In [14]:
bais=regressor.intercept_
bais

array([3.55271368e-15])

In [15]:
y_pred=regressor.predict(x_test)

In [16]:
from sklearn.metrics import r2_score 
r_score=r2_score(y_test,y_pred)

In [17]:
r_score

1.0

In [18]:
import pickle
filename="finalized_model_Automobilecodedata.sav"
pickle.dump(regressor,open(filename,'wb'))

In [19]:
loaded_model=pickle.load(open("finalized_model_Automobilecodedata.sav", 'rb'))
result=loaded_model.predict([[567,789,91011,12,13]])

C:\anaconda3\envs\AIML\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [20]:
result

array([[567.]])